<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ListStaffAccount</servlet-name>
        <servlet-class>controller.admin.ListStaffAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.common.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Statical</servlet-name>
        <servlet-class>controller.admin.Statical</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TourManagement</servlet-name>
        <servlet-class>controller.admin.TourManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestUploadTour</servlet-name>
        <servlet-class>controller.RequestUploadTour</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TourRequestUpload</servlet-name>
        <servlet-class>controller.staff.TourRequestUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TourManagementAgent</servlet-name>
        <servlet-class>controller.agent.TourManagementAgent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaticalAgent</servlet-name>
        <servlet-class>controller.agent.StaticalAgent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagementHotel</servlet-name>
        <servlet-class>controller.agent.ManagementHotel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagementVehicle</servlet-name>
        <servlet-class>controller.agent.ManagementVehicle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagementRestaurant</servlet-name>
        <servlet-class>controller.agent.restaurant.ManagementRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagementEntertainment</servlet-name>
        <servlet-class>controller.agent.entertainment.ManagementEntertainment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRestaurant</servlet-name>
        <servlet-class>controller.agent.restaurant.AddRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindRestaurant</servlet-name>
        <servlet-class>controller.agent.restaurant.FindRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRestaurant</servlet-name>
        <servlet-class>controller.agent.restaurant.UpdateRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRestaurant</servlet-name>
        <servlet-class>controller.agent.restaurant.DeleteRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailRestaurant</servlet-name>
        <servlet-class>controller.agent.restaurant.DetailRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEntertainment</servlet-name>
        <servlet-class>controller.agent.entertainment.AddEntertainment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindEntertainment</servlet-name>
        <servlet-class>controller.agent.entertainment.FindEntertainment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEntertainment</servlet-name>
        <servlet-class>controller.agent.entertainment.DeleteEntertainment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailEntertainment</servlet-name>
        <servlet-class>controller.agent.entertainment.DetailEntertainment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEntertainment</servlet-name>
        <servlet-class>controller.agent.entertainment.UpdateEntertainment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TouristManager</servlet-name>
        <servlet-class>controller.admin.TouristManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStaffAccount</servlet-name>
        <servlet-class>controller.admin.AddStaffAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListVoucher</servlet-name>
        <servlet-class>controller.staff.ListVoucher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateVoucher</servlet-name>
        <servlet-class>controller.staff.UpdateVoucher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterVoucherByStatus</servlet-name>
        <servlet-class>controller.staff.FilterVoucherByStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusVoucher</servlet-name>
        <servlet-class>controller.staff.ChangeStatusVoucher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindVoucherByVoucherCode</servlet-name>
        <servlet-class>controller.staff.FindVoucherByVoucherCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVoucher</servlet-name>
        <servlet-class>controller.staff.AddVoucher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailVoucher</servlet-name>
        <servlet-class>controller.staff.DetailVoucher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminServlet</servlet-name>
        <servlet-class>controller.admin.adminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagementAccommodationa</servlet-name>
        <servlet-class>controller.agent.accommodations.ManagementAccommodationa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAccommodationa</servlet-name>
        <servlet-class>controller.agent.accommodations.AddAccommodationa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccommodationa</servlet-name>
        <servlet-class>controller.agent.accommodations.DeleteAccommodationa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccommodationa</servlet-name>
        <servlet-class>controller.agent.accommodations.UpdateAccommodationa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailAccommodationa</servlet-name>
        <servlet-class>controller.agent.accommodations.DetailAccommodationa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagementRooma</servlet-name>
        <servlet-class>controller.agent.accommodation.room.ManagementRooma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRooma</servlet-name>
        <servlet-class>controller.agent.accommodation.room.AddRooma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRooma</servlet-name>
        <servlet-class>controller.agent.accommodation.room.DeleteRooma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRooma</servlet-name>
        <servlet-class>controller.agent.accommodation.room.UpdateRooma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentReturnServlet</servlet-name>
        <servlet-class>controller.payment.PaymentReturnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentCancelServlet</servlet-name>
        <servlet-class>controller.payment.PaymentCancelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCurrentTour</servlet-name>
        <servlet-class>controller.user.ViewCurrentTour</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnPayment</servlet-name>
        <servlet-class>controller.payment.ReturnPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelPayment</servlet-name>
        <servlet-class>controller.payment.CancelPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WalletPaymentSuccess</servlet-name>
        <servlet-class>controller.payment.WalletPaymentSuccess</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>ListStaffAccount</servlet-name>
        <url-pattern>/liststaffaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Statical</servlet-name>
        <url-pattern>/statical</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TourManagement</servlet-name>
        <url-pattern>/tourmanagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestUploadTour</servlet-name>
        <url-pattern>/requestuploadtour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TourRequestUpload</servlet-name>
        <url-pattern>/tourrequestupload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TourManagementAgent</servlet-name>
        <url-pattern>/tourmanagementagent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaticalAgent</servlet-name>
        <url-pattern>/staticalagent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagementHotel</servlet-name>
        <url-pattern>/managementhotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagementRestaurant</servlet-name>
        <url-pattern>/managerestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagementEntertainment</servlet-name>
        <url-pattern>/managementertainment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRestaurant</servlet-name>
        <url-pattern>/addrestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindRestaurant</servlet-name>
        <url-pattern>/findrestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRestaurant</servlet-name>
        <url-pattern>/updaterestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRestaurant</servlet-name>
        <url-pattern>/deleterestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailRestaurant</servlet-name>
        <url-pattern>/detailrestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEntertainment</servlet-name>
        <url-pattern>/addentertainment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindEntertainment</servlet-name>
        <url-pattern>/findentertainment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEntertainment</servlet-name>
        <url-pattern>/deleteentertainment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailEntertainment</servlet-name>
        <url-pattern>/detailentertainment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEntertainment</servlet-name>
        <url-pattern>/updateentertainment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TouristManager</servlet-name>
        <url-pattern>/touristmanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaffAccount</servlet-name>
        <url-pattern>/addstaffaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListVoucher</servlet-name>
        <url-pattern>/listvoucher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateVoucher</servlet-name>
        <url-pattern>/updatevoucher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterVoucherByStatus</servlet-name>
        <url-pattern>/filtervoucherbystatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusVoucher</servlet-name>
        <url-pattern>/changestatusvoucher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindVoucherByVoucherCode</servlet-name>
        <url-pattern>/findvoucherbyvouchercode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVoucher</servlet-name>
        <url-pattern>/addvoucher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailVoucher</servlet-name>
        <url-pattern>/detailvoucher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagementAccommodationa</servlet-name>
        <url-pattern>/ManagementAccommodationa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAccommodationa</servlet-name>
        <url-pattern>/AddAccommodationa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccommodationa</servlet-name>
        <url-pattern>/deleteaccommodationa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccommodationa</servlet-name>
        <url-pattern>/updateaccommodationa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailAccommodationa</servlet-name>
        <url-pattern>/detailaccommodationa</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangeStatus</servlet-name>
        <servlet-class>controller.agent.accommodations.ChangeStatus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManagementRooma</servlet-name>
        <url-pattern>/managementrooma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRooma</servlet-name>
        <url-pattern>/addrooma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRooma</servlet-name>
        <url-pattern>/deleterooma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRooma</servlet-name>
        <url-pattern>/updaterooma</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>changeStatus</servlet-name>
        <servlet-class>controller.agent.entertainment.ChangeStatusEntertainment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>changeStatus</servlet-name>
        <url-pattern>/ChangeStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatus</servlet-name>
        <url-pattern>/changestatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentReturnServlet</servlet-name>
        <url-pattern>/paymentreturnservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentCancelServlet</servlet-name>
        <url-pattern>/paymentcancelservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCurrentTour</servlet-name>
        <url-pattern>/viewcurrenttour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnPayment</servlet-name>
        <url-pattern>/returnpayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelPayment</servlet-name>
        <url-pattern>/cancelpayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WalletPaymentSuccess</servlet-name>
        <url-pattern>/walletpaymentsuccess</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>BookDetailManagement</servlet-name>
        <servlet-class>controller.agent.BookDetailManagement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookDetailManagement</servlet-name>
        <url-pattern>/bookdetailmanagement</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BookTourServlet</servlet-name>
        <servlet-class>controller.user.BookTourServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookTourServlet</servlet-name>
        <url-pattern>/booktourservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangeStatusRestaurant</servlet-name>
        <servlet-class>controller.agent.restaurant.ChangeStatusRestaurant</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeStatusRestaurant</servlet-name>
        <url-pattern>/ChangeRestaurantStatus</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AmountToPay</servlet-name>
        <servlet-class>controller.user.AmountToPay</servlet-class>
    </servlet>
    <servlet>

        <servlet-name>Payment</servlet-name>
        <servlet-class>controller.user.Payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListPayment</servlet-name>
        <servlet-class>controller.admin.ListPayment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AmountToPay</servlet-name>
        <url-pattern>/amounttopay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payment</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListPayment</servlet-name>
        <url-pattern>/listpayment</url-pattern>
    </servlet-mapping>
</web-app>
