<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>adminServlet</servlet-name>
        <servlet-class>controller.admin.adminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.common.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Statical</servlet-name>
        <servlet-class>controller.admin.Statical</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TourManagement</servlet-name>
        <servlet-class>controller.admin.TourManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestUploadTour</servlet-name>
        <servlet-class>controller.RequestUploadTour</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TourRequestUpload</servlet-name>
        <servlet-class>controller.staff.TourRequestUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TourManagementAgent</servlet-name>
        <servlet-class>controller.agent.TourManagementAgent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaticalAgent</servlet-name>
        <servlet-class>controller.agent.StaticalAgent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagementHotel</servlet-name>
        <servlet-class>controller.agent.ManagementHotel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagementVehicle</servlet-name>
        <servlet-class>controller.agent.ManagementVehicle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagementRestaurant</servlet-name>
        <servlet-class>controller.agent.restaurant.ManagementRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagementEntertainment</servlet-name>
        <servlet-class>controller.agent.entertainment.ManagementEntertainment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRestaurant</servlet-name>
        <servlet-class>controller.agent.restaurant.AddRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindRestaurant</servlet-name>
        <servlet-class>controller.agent.restaurant.FindRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRestaurant</servlet-name>
        <servlet-class>controller.agent.restaurant.UpdateRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRestaurant</servlet-name>
        <servlet-class>controller.agent.restaurant.DeleteRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailRestaurant</servlet-name>
        <servlet-class>controller.agent.restaurant.DetailRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEntertainment</servlet-name>
        <servlet-class>controller.agent.entertainment.AddEntertainment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindEntertainment</servlet-name>
        <servlet-class>controller.agent.entertainment.FindEntertainment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEntertainment</servlet-name>
        <servlet-class>controller.agent.entertainment.DeleteEntertainment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailEntertainment</servlet-name>
        <servlet-class>controller.agent.entertainment.DetailEntertainment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEntertainment</servlet-name>
        <servlet-class>controller.agent.entertainment.UpdateEntertainment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Statical</servlet-name>
        <url-pattern>/statical</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TourManagement</servlet-name>
        <url-pattern>/tourmanagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestUploadTour</servlet-name>
        <url-pattern>/requestuploadtour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TourRequestUpload</servlet-name>
        <url-pattern>/tourrequestupload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TourManagementAgent</servlet-name>
        <url-pattern>/tourmanagementagent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaticalAgent</servlet-name>
        <url-pattern>/staticalagent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagementHotel</servlet-name>
        <url-pattern>/managementhotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagementVehicle</servlet-name>
        <url-pattern>/managevehicle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagementRestaurant</servlet-name>
        <url-pattern>/managerestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagementEntertainment</servlet-name>
        <url-pattern>/managementertainment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRestaurant</servlet-name>
        <url-pattern>/addrestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindRestaurant</servlet-name>
        <url-pattern>/findrestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRestaurant</servlet-name>
        <url-pattern>/updaterestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRestaurant</servlet-name>
        <url-pattern>/deleterestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailRestaurant</servlet-name>
        <url-pattern>/detailrestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEntertainment</servlet-name>
        <url-pattern>/addentertainment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindEntertainment</servlet-name>
        <url-pattern>/findentertainment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEntertainment</servlet-name>
        <url-pattern>/deleteentertainment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailEntertainment</servlet-name>
        <url-pattern>/detailentertainment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEntertainment</servlet-name>
        <url-pattern>/updateentertainment</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <multipart-config>
        <max-file-size>5242880</max-file-size>
        <!-- 5MB -->
        <max-request-size>20971520</max-request-size>
        <!-- 20MB -->
    </multipart-config>
</web-app>
